<p id="notice"><%= notice %></p>

<p>
  <b>I wish for:</b>
  <%= @wish.title %>
</p>

<p>
  <b>Description:</b>
  <%= @wish.description %>
</p>

<p>
  <b>Proposed incentive:</b>
  <%= @wish.deal %>
</p>

<p>
  <b>Upvotes needed:</b>
  <%= @wish.threshold %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
