<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Claremonster | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
			</ul>		
		</div>	
	</div>
	<a class="brand" href="#">Claremonster</a>
</div>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
