<!DOCTYPE html>
<html lang="eng">
<head>
  <title>Claremonster | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
		<a class="brand" href="#">Claremonster</a>
			<ul class="nav pull-right">
				<li><%= link_to "About",	about_path %></li>
				<li><a href="#">
					<% if user_signed_in? %>
						<% current_user %>			
					<% end %>
									
				</a></a></li>
			</ul>		
		</div>	
	</div>
	
</div>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
